body{background-color: blueviolet;
     font: normal 20pt arial;
     color: white;}

header{text-align: center;}

section{background-color: white;
        width: 500px;
        margin: auto;
        border-radius: 15px;}

div{color: black;
    padding: 15px;}        

footer{text-align: center;
       padding: 50px;}        